$yag-grey:#595959;
$yag-grey-light: #6b7481;
$yag-yellow: #ecb504;
$yag-yellow-light: #e7c194;
$yag-dark: #2b2a29;
$yag-info: #5789c5;
$red: #d44949;
$white: #FFFFFF;
$primary: $turquoise;
$yellow: $yag-yellow-light;
$grey-darker: $yag-grey;
$grey-light: $yag-grey-light;
$grey-dark: $yag-dark;
$text: $yag-dark;
$scheme-main: $yag-yellow;
$info: #d44949;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $text;
$background: $white;
$link-visited: $link;
$link-hover: $link; 
$link-hover-border: $link;
$link-focus: $link;
$link-focus-border: $link;
$link-active: $link;
$link-active-border: $link;
$body-background-color: $white;
$body-color: $text;	

.has-text-facebook {

  color:#3b5998!important;
}

.has-text-youtube{

  color:#b00!important
}

.has-text-vk{

  color:#45668e!important
}

.has-text-telegram{

  color:#0088cc!important
}

.has-text-instagram{

  color:#833ab4!important
}
